@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-ink-900 text-ink-100 font-sans;
}

a {
  @apply text-ink-100;
}
